# This is an old version of .gitlab-ci.yml file that
# can be used as a base to create an environment
# similar to pocker using rocker image as a base

image: rocker/verse

before_script:
   - export PATH="/opt/conda/bin:$PATH"
article:
  stage: deploy
  script:
    - apt-get update --fix-missing && apt-get install -y ca-certificates libglib2.0-0 libxext6 libsm6 libxrender1 libxml2-dev
    - apt-get install -y python3-pip python3-dev && pip3 install virtualenv
    - wget --quiet https://repo.anaconda.com/archive/Anaconda3-5.3.0-Linux-x86_64.sh -O ~/anaconda.sh
    - /bin/bash ~/anaconda.sh -b -p /opt/conda && rm ~/anaconda.sh
    - ln -s /opt/conda/etc/profile.d/conda.sh /etc/profile.d/conda.sh
    - echo ". /opt/conda/etc/profile.d/conda.sh" >> ~/.bashrc
    - python --version
    - echo $PATH
    - echo "source activate base" > ~/.bashrc
    - echo 'RETICULATE_PYTHON = "/opt/conda/bin' > .Renviron
    - conda info --envs
    - Rscript -e 'install.packages("reticulate")'
    - Rscript ./build.R
  artifacts:
    paths:
      - html
    when: always
